<h5 class="settings-section">Template Settings</h5>

<div class="p-3 w-100 mr-3 d-flex">
    <nui-checkbox [(ngModel)]="settings.issueTypeEditEnabled"
        hint="Allows to configure issue selectors and add new templates">
        Configure issue types and templates
    </nui-checkbox>
</div>

<div class="settings-templates">
    <div class="settings-issue-types">
        <ng-container *ngFor="let item of issueTypes">
            <jit-settings-issue-item [type]="item"
                                     [showOptions]="settings.issueTypeEditEnabled"
                                     [active]='item === settings.currentIssueType$.value'></jit-settings-issue-item>
        </ng-container>
        <div class="add-new" (mouseenter)="showInput = !showInput" (mouseleave)="showInput = !showInput">
            <input #newItemInput type="text" placeholder="Add new" *ngIf="showInput" class="add-new-input">
            <i class="bi bi-plus-circle" (click)="addIssueType()"></i>
        </div>
    </div>
    <jit-settings-issue-template-form [currentIssueType]="settings.currentIssueType$.value"></jit-settings-issue-template-form>
</div>