<h5 class="settings-section">General Settings</h5>

<div class="p-5 d-flex flex-row justify-content-start align-items-center">
    <form [formGroup]="settingsForm" class="mb-3 w-100 d-flex flex-column">
        <ng-container *ngFor="let key of formControlConfigKeys; let i = index">
            <nui-form-field
                [control]="settingsForm.controls[key.name]"
                [caption]="key.label"
                [hint]='key.hint'
                class="mb-5"
                [style.flex-basis]="(1 / (formControlConfigKeys.length || 1)) * 100 + '%'">
                <div class="m-0 row">
                    <div class="p-0 pr-2 col-11">
                        <nui-textbox [formControlName]="key.name"></nui-textbox>
                    </div>
                    <div class="p-0 col">
                        <button
                            nui-button
                            type="button"
                            icon="reset"
                            nuiTooltip="Reset to default value"
                            (click)="settingsForm.controls[key.name].setValue(key.defaultValue)">
                        </button>
                    </div>
                </div>
            </nui-form-field>
        </ng-container>
    </form>
</div>