<div class="settings">
    <!-- <h6 class="settings-section small">General Settings</h6> -->

    <h5 class="settings-section">Template Settings</h5>
    <section>
        <div class="p-3 d-flex flex-column justify-content-start align-items-center">
            <form [formGroup]="settingsForm" class="mb-3 w-100 d-flex">
                <nui-form-field
                    [control]="settingsForm.controls[formControlNames.GlobalTrigger]"
                    caption="Global Trigger selector"
                    class="flex-fill">

                    <div class="m-0 row">
                        <div class="p-0 col-9">
                            <nui-textbox [formControlName]="formControlNames.GlobalTrigger"></nui-textbox>
                        </div>
                        <div class="p-0 col">
                            <button
                                nui-button
                                type="button"
                                icon="reset"
                                nuiTooltip="Reset selector to default value"
                                (click)="settingsForm.controls[formControlNames.GlobalTrigger].setValue(globalTriggerSelector)">
                            </button>
                        </div>
                        <div class="p-0 col d-flex align-items-center justify-content-center">
                            <nui-icon
                                icon="status_undefined"
                                nuiTooltip='Selector of the component which allows for creating issues on interaction'>
                            </nui-icon>
                        </div>
                    </div>
                </nui-form-field>
                <nui-form-field
                    [control]="settingsForm.controls[formControlNames.LoadTimeout]"
                    caption="Load Timeout"
                    class="flex-fill">

                    <div class="m-0 row">
                        <div class="p-0 col-9">
                            <nui-textbox [formControlName]="formControlNames.LoadTimeout"></nui-textbox>
                        </div>
                        <div class="p-0 col">
                            <button
                                nui-button
                                type="button"
                                icon="reset"
                                nuiTooltip="Reset selector to default value"
                                (click)="settingsForm.controls[formControlNames.LoadTimeout].setValue(loadTimeout)">
                            </button>
                        </div>
                        <div class="p-0 col d-flex align-items-center justify-content-center">
                            <nui-icon
                                icon="status_undefined"
                                nuiTooltip='Sets the timeout before applying event listeners. Usually needed to wait until all critical elements are loaded and their selectors are set in stone'>
                            </nui-icon>
                        </div>
                    </div>
                </nui-form-field>
            </form>
            <div class="w-100 d-flex">
                <nui-checkbox [(ngModel)]="settings.issueTypeEditEnabled"
                    hint="Allows to configure issue selectors and add new templates">
                    Configure issue types and templates
                </nui-checkbox>
            </div>
        </div>
    </section>
    <div class="settings-templates">
        <div class="settings-issue-types">
            <ng-container *ngFor="let item of issueTypes">
                <jit-settings-issue-item [type]="item"
                                         [showOptions]="settings.issueTypeEditEnabled"
                                         [active]='item === currentIssueType'></jit-settings-issue-item>
            </ng-container>
            <div class="add-new" (mouseenter)="showInput = !showInput" (mouseleave)="showInput = !showInput">
                <input #newItemInput type="text" placeholder="Add new" *ngIf="showInput" class="add-new-input">
                <i class="bi bi-plus-circle" (click)="addIssueType()"></i>
            </div>
        </div>
        <jit-settings-issue-template-form [currentIssueType]="currentIssueType"></jit-settings-issue-template-form>
    </div>
    <input type="text" #itemInput>
    <button (click)="clearStorage()">Remove all</button>
    <button (click)="getStorage()">get</button>
</div>
