<div class="settings">
    <!-- <h6 class="settings-section small">General Settings</h6> -->

    <h5 class="settings-section">Template Settings</h5>
    <section>
        <div class="p-3 d-flex justify-content-start align-items-center">
            <nui-checkbox [(ngModel)]="settings.issueTypeEditEnabled"
                hint="Allows to configure issue selectors and add new templates">
                Configure issue types
            </nui-checkbox>
            <form [formGroup]="settingsForm">
                <nui-form-field [control]="settingsForm.controls[formControlNames.GlobalTrigger]" caption="Trigger selectors"
                    hint="Selectors of the component which allows for creating issues on interaction">
                    <nui-textbox [formControlName]="formControlNames.GlobalTrigger"></nui-textbox>
                </nui-form-field>
            </form>
        </div>
    </section>
    <div class="settings-templates">
        <div class="settings-issue-types">
            <ng-container *ngFor="let item of issueTypes">
                <jit-settings-issue-item [type]="item"
                                         [showOptions]="settings.issueTypeEditEnabled"
                                         [active]='item === currentIssueType'></jit-settings-issue-item>
            </ng-container>
            <div class="add-new" (mouseenter)="showInput = !showInput" (mouseleave)="showInput = !showInput">
                <input #newItemInput type="text" placeholder="Add new" *ngIf="showInput" class="add-new-input">
                <i class="bi bi-plus-circle" (click)="addIssueType()"></i>
            </div>
        </div>
        <jit-settings-issue-template-form [currentIssueType]="currentIssueType"></jit-settings-issue-template-form>
    </div>
    <input type="text" #itemInput>
    <button (click)="clearStorage()">Remove all</button>
    <button (click)="getStorage()">get</button>
</div>
