@import  "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700,600,900";


/* Copyright 2016 Redbrick Technologies, Inc. */
/* https://github.com/rdbrck/jira-description-extension/blob/master/LICENSE */

html, body {
  width: 500px;
  min-height: 500px;
  overflow: hidden;
  -ms-overflow-style: none;
}

nav {
  background-color: aliceblue;
}


#sidenav-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 996;
}

.icon-color-black {
  color: black;
}
