

html, body {
  width: 500px;
  min-height: 500px;
  overflow: hidden;
  -ms-overflow-style: none;
}

main {
  margin-top: 0px;
}

nav {
  background-color: aliceblue;
}

.nav-wrapper > img {
  padding: 5px 0 0 5px;
}

div.nav-wrapper ul li > h4 {
  background-color: aliceblue;
  color: black;
  margin: 0px;
  padding: 10px 10px 15px 10px;
}

#sidenav-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 996;
}

.icon-color-black {
  color: black;
}
