button.nui-button.btn.icon-left.btn-destructive {
    background-color: white;
}

.mw145 {
    min-width: 145px;
}

#utils-tab-table td {
    border-bottom: 1px lightgrey solid;
}

td:not(:first-child) {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;   
  }